certifi==2019.11.28
chardet==3.0.4
Django==2.2.11
django-filter==2.2.0
djangorestframework==3.11.0
idna==2.9
Markdown==3.2.1
Pillow==9.3.0
psycopg2-binary==2.8.4
pytz==2019.3
requests==2.23.0
sqlparse==0.3.1
urllib3==1.25.8
